In [45]:
import pandas as pd
import os

In [46]:
df= pd.read_csv('/Users/luiseduardogarciablanco/Desktop/nueva_data_cancer/2024/dataset_2024.csv')
df

            image_id  target     sex  age_approx anatom_site_general
0       ISIC_0015670       0    male        60.0     lower extremity
1       ISIC_0015845       0    male        60.0           head/neck
2       ISIC_0015864       0    male        60.0     posterior torso
3       ISIC_0015902       0    male        65.0      anterior torso
4       ISIC_0024200       0    male        55.0      anterior torso
...              ...     ...     ...         ...                 ...
381909  ISIC_9999937       0    male        70.0      anterior torso
381910  ISIC_9999951       0    male        60.0     posterior torso
381911  ISIC_9999960       0  female        65.0      anterior torso
381912  ISIC_9999964       0  female        30.0      anterior torso
381913  ISIC_9999967       0    male        50.0     lower extremity

[381914 rows x 5 columns]

In [47]:
#eliminamos las columnas generadas para la explicabilidad de los datos NaN dentro de nuestro dataset

# Lista de columnas a eliminar
columnas_a_eliminar = ['sex', 'age_approx', 'anatom_site_general']

# Eliminar las columnas del DataFrame
df =df.drop(columns=columnas_a_eliminar)

# Verificar que las columnas han sido eliminadas
print(df.head())

       image_id  target
0  ISIC_0015670       0
1  ISIC_0015845       0
2  ISIC_0015864       0
3  ISIC_0015902       0
4  ISIC_0024200       0

In [48]:
import pandas as pd

# Cargar el dataset
df = df

# Dividir el DataFrame en dos partes según el valor del target
df_majority = df[df['target'] == 0]
df_minority = df[df['target'] == 1]

# Reducir el número de muestras de la clase mayoritaria a 15,000
df_majority_downsampled = df_majority.sample(n=381, random_state=42)

# Combinar los DataFrames balanceados
df_balanced = pd.concat([df_majority_downsampled, df_minority])

# Opcional: Mezclar el DataFrame balanceado para asegurar aleatoriedad
df_balanced = df_balanced.sample(frac=1, random_state=42).reset_index(drop=True)

# Mostrar la distribución de clases después del balanceo
print(df_balanced['target'].value_counts())

df_balanced.info()

target
0    381
1    381
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   image_id  762 non-null    object
 1   target    762 non-null    int64
dtypes: int64(1), object(1)
memory usage: 12.0+ KB

In [49]:
df=df_balanced

In [50]:
import pandas as pd

# Supongamos que tu DataFrame es 'df' y ya está cargado

# Agrega el prefijo '24_' a cada valor en la columna 'image_id'
df['image_id'] = '24_' + df['image_id'].astype(str)

# Opcional: Verifica los primeros registros para asegurarte de que se ha hecho correctamente
print(df.head())

          image_id  target
0  24_ISIC_8738737       0
1  24_ISIC_8467031       0
2  24_ISIC_7127092       0
3  24_ISIC_1694963       1
4  24_ISIC_5757798       1

In [51]:
df = df[['image_id', 'target']]
df

            image_id  target
0    24_ISIC_8738737       0
1    24_ISIC_8467031       0
2    24_ISIC_7127092       0
3    24_ISIC_1694963       1
4    24_ISIC_5757798       1
..               ...     ...
757  24_ISIC_2399304       0
758  24_ISIC_1927506       0
759  24_ISIC_5314244       0
760  24_ISIC_1211710       1
761  24_ISIC_3909889       0

[762 rows x 2 columns]

In [52]:
import pandas as pd

# Supongamos que tu DataFrame modificado se llama 'df'

# Ruta del dataset existente
existing_dataset_path = '/Users/luiseduardogarciablanco/Desktop/nueva_data_cancer/test web/dataset_16_20_emb.csv'

# Cargar el dataset existente
existing_df = pd.read_csv(existing_dataset_path)

# Concatenar el DataFrame modificado con el dataset existente
combined_df = pd.concat([existing_df, df], ignore_index=True)

# Guardar el DataFrame combinado de nuevo en el archivo CSV
combined_df.to_csv(existing_dataset_path, index=False)

# Opcional: Verificar las primeras filas del DataFrame combinado
print(combined_df.head())

              image_id      sex  age_approx anatom_site_general  target
0  16_ISIC_0000001.jpg  Unknown        -1.0             Unknown       0
1  16_ISIC_0000002.jpg  Unknown        -1.0             Unknown       1
2  16_ISIC_0000004.jpg  Unknown        -1.0             Unknown       1
3  16_ISIC_0000006.jpg  Unknown        -1.0             Unknown       0
4  16_ISIC_0000007.jpg  Unknown        -1.0             Unknown       0

In [ ]:
combined_df

In [1]:
import os
import pandas as pd

# Cargar el dataset (asegúrate de cargarlo correctamente)
df = pd.read_csv('/Users/luiseduardogarciablanco/Desktop/bootcamp/Flask_proyecto_cancer_jpg_data/static/data/dataset_flask.csv')  # Reemplaza con la ruta a tu dataset
image_folder = '/Users/luiseduardogarciablanco/Desktop/nueva data cancer/test web/jpg_ensambled_model'  # Ruta a la carpeta de imágenes

# Asegúrate de que la columna 'isic_id' tenga la extensión .jpg
df['isic_id'] = df['isic_id'].apply(lambda x: f"{x}.jpg")

# Obtener una lista de los nombres de los archivos en la carpeta de imágenes
image_files = set(os.listdir(image_folder))

# 1. Eliminar imágenes que no estén en el dataset
for image_file in image_files:
    # Si el archivo no está en el dataset, se elimina
    if image_file not in df['isic_id'].values:
        file_path = os.path.join(image_folder, image_file)
        print(f"Borrando: {file_path}")
        os.remove(file_path)

# 2. Comprobar si hay registros en el dataset que no tengan una imagen correspondiente en la carpeta
missing_images = []
for image_id in df['isic_id']:
    if image_id not in image_files:
        missing_images.append(image_id)

# Mostrar los registros que no tienen una imagen correspondiente
if missing_images:
    print("Registros en el dataset sin imagen correspondiente:")
    print(missing_images)
else:
    print("Todas las imágenes están presentes para los registros del dataset.")

Todas las imágenes están presentes para los registros del dataset.